<div class="row">
    <div class="col s12 m4 l3">
        <div class="row">
            <div class="welcome">
                <div class="case">
                    <img class="circle responsive-img " src="https://qph.is.quoracdn.net/main-qimg-d5342af4207d0ac3a7d43a4a930ea571?convert_to_webp=true">
                    <div class="name">Bradley Cooper</div>
                </div>
            </div>
            <div class="links">
                <div class="collection">
                    <a href="/#/dashboard" class="collection-item">My Applications</a>
                    <a href="/#/availablejobs" class="collection-item active">Available Jobs</a>
                    <a href="#!" class="collection-item">More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m8 l9">
        <div class="row">
            <div class="search">
                <nav>
                    <form>
                        <div class="input-field">
                            <input id="search" type="search" required>
                            <label for="search"><i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                    </form>
                </nav>
            </div>
            <ul class="collection with-header">
                <li class="collection-header">
                    <h5>Available Jobs</h5></li>
                <li class="collection-item">
                    <div>Software Developer in Lagos<a href="/#/apply" class="modal-trigger secondary-content"><i>Apply</i></a></div>
                </li>
                <li class="collection-item">
                    <div>Rockstar Trainer in London<a href="#!" class="secondary-content"><i>Apply</i></a></div>
                </li>
                <li class="collection-item">
                    <div>Product manager<a href="#!" class="secondary-content"><i>Apply</i></a></div>
                </li>
                <li class="collection-item">
                    <div>Executive Producer at Dangote<a href="#!" class="secondary-content"><i>Apply</i></a></div>
                </li>
            </ul>
        </div>
    </div>
</div>
