<div class="parallax-container">
    <div class="parallax"><img src="../assets/images/online-job-search.jpg"></div>
    <div class="container">
        <h1 class="header">Welcome to Andejobs</h1></div>
    <p class="home">"Talent is evenly distributed, but opportunity is not"</p>
    <div class="btn-home container">
        <a href="/#/jobs" class="waves-effect waves-light btn view-jobs">View Jobs</a>
        <span class="btn-padding"></span>
        <a href="/#/login" class="waves-effect waves-light btn get-satarted">Get Started</a>
    </div>
</div>
<div class="row">
    <div class="col s12 m6 l4">
        <div class="icon-block-1">
            <h2 class="center teal-text"><i class="large material-icons">group</i>
        </h2>
            <h5 class="center">View collection of jobs and description</h5>
            <p class="center light">Enter into a world of beautiful opportunities as you view a collection of jobs and opportunities</p>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="icon-block">
            <h2 class="center teal-text"><i class="large material-icons">description</i>
        </h2>
            <h5 class="center">Apply for that dream job</h5>
            <p class="center light">Go ahead and apply for that job of your dreams, It's just a click!</p>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="icon-block-3">
            <h2 class="center teal-text"><i class="large material-icons">info_outline</i>
        </h2>
            <h5 class="center">Always be in the Loop</h5>
            <p class="center light">We'll always keep you posted on recently added jobs!</p>
        </div>
    </div>
</div>
