<div class="col s12 m4 l3">
    <div class="row">
        <div class="welcome">
            <div class="case">
                <img class="circle responsive-img " src="https://qph.is.quoracdn.net/main-qimg-d5342af4207d0ac3a7d43a4a930ea571?convert_to_webp=true">
                <div class="name">Bradley Cooper</div>
            </div>
        </div>
        <div class="links">
            <div class="collection">
                <a href="#!" class="collection-item">My Profile</a>
                <a href="#!" class="collection-item active">Application</a>
                <a href="#!" class="collection-item">Available Jobs</a>
                <a href="#!" class="collection-item">More</a>
            </div>
        </div>
    </div>
</div>
<div ui-view="theView"></div>
