<div class="parallax-container signup">
  <div class="parallax"><img src="../assets/images/online-job-search.jpg"></div>
  <div class="signupform">
    <ul class="collection">
      <li class="collection-item header-signup">Sign up</li>
      <li class="collection-item">First Name</li>
      <li class="collection-item">Last Name</li>
      <li class="collection-item">Username</li>
      <li class="collection-item">Email</li>
      <li class="collection-item">Password</li>
    </ul>
  </div>
</div>
